@model EditViewModel
<h2>Edit User</h2>
<hr>
<form asp-action="Edit" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="UserId">
    <div class="mb-3">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control">
    </div>
     <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
   
    </div>
     <div class="card">
        <div class="card-body">
            <h2>Parola Güncelle</h2>
     <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
    </div>
     <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control">
    </div>
    </div>
    </div>
    <div class="card">
        <div class="card-header">
            Roller
        </div>
        <div class="card-body">
            @foreach(var item in ViewBag.Roles){
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="SelectedRoles" value="@item" id="@item" @(Model.SelectedRoles.Any(i=>i==item)?"checked":"")>
                    <label for="@item" class="form-check-label">@item</label>
                </div>
            }
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>
